{% extends "shop/master.html" %} {% load static %} {% block main %}
<div class="order" id="Order">
  <h1><span>Order</span>Now</h1>
  <div class="order_main">
    <form action="{% url 'contact' %}" method="get">
      <div class="input">
        <p>Name</p>
        <input type="text" placeholder="your name" />
      </div>
      <div class="input">
        <p>Email</p>
        <input type="email" placeholder="your email" />
      </div>
      <div class="input">
        <p>Number</p>
        <input placeholder="your number" />
      </div>
      <div class="input">
        <p>Product</p>
        <input type="number" placeholder="how many order" />
      </div>
      <div class="input">
        <p>order</p>
        <input placeholder="product name" />
      </div>
      <div class="input">
        <p>Address</p>
        <input placeholder="your address" />
      </div>
      <a href="{% url 'index' %}" class="order_btn">Submit</a>
    </form>
  </div>
</div>
{% endblock %}
